#!/usr/bin/make -f
# -*- makefile -*-
# We don't need any custom rules as debhelper is able to fugure out everything.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG

%:
	dh $@
