Source: arx-libertatis
Section: games
Priority: extra
Maintainer: Daniel Scharrer <daniel@constexpr.org>
Build-Depends:  debhelper (>= 7.0.50), cmake (>= 2.8), libboost-dev (>= 1.48), libglm-dev (>= 0.9.2.7), zlib1g-dev, libsdl2-dev (>= 2.0.0) | libsdl1.2-dev (>= 1.2.10), libfreetype6-dev (>= 2.3.0), libopenal-dev, mesa-common-dev, libgl1-mesa-dev, libglew-dev (>= 1.5.2), libqt4-dev (>= 4.7)
Standards-Version: 3.9.4
Homepage: http://arx-libertatis.org/
Vcs-Git: git://github.com/arx/ArxLibertatis.git
Vcs-Browser: https://github.com/arx/ArxLibertatis

Package: arx-libertatis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: arxcrashreporter
Suggests: arx-fatalis-data | arx-fatalis-demo-data | game-data-packager (>= 41)
Description: Cross-platform port of Arx Fatalis, a first-person role-playing game
 Arx Libertatis is a cross-platform port of the GPLed Arx Fatalis first-person
 role-playing game. This package only includes the game executable - you will
 also need the data files from the original game.
 .
 Besides the data files, this is all that is needed to run the game, but
 installing the main arx-libertatis package to get the arxcrashreporter is
 recommended.

Package: arxcrashreporter
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gdb
Description: Arx Libertatis crash reporter
 A GUI tool to report detailed information to https://bugs.arx-libertatis.org/
 if Arx Libertatis crashes.

Package: arxsavetool
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to inspect and modify Arx Libertatis save files
 Tool to inspect and modify Arx Libertatis save files. Allows one to extract
 individual files from save file containers and re-pack them. Also allows
 listing the information contained in save files and fixing some errors caused
 by broken versions of the game.

Package: arxunpak
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to extract the Arx Fatalis .pak files containing the game assets
 Tool to extract the .pak files containing the game assets of the original
 Arx Fatalis.
 .
 This is not required to run Arx Libertatis but can be useful for development.

Package: arx-libertatis-dbg
Architecture: any
Section: debug
Depends:
    arx-libertatis (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for arx-libertatis
 Cross-platform port of Arx Fatalis, a first-person role-playing game.
 This package only includes the game executable - you will also need
 the data files from the original game.
 .
 This package contains the debugging symbols for arx-libertatis.
